.navbar {
    font-family: 'IBM Plex Mono', monospace, 'Inter', sans-serif, 'Playfair Display', serif;
    background-color: #9B5CCC;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 1%;
}
.nav_icon {
    font-size: 18px; 
    margin-top: 4px;
    margin-right: 6px;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em; 
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links_mobile {
    list-style: none;
    display: none;
}

.nav-links li,
.nav-links_mobile li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}


.nav-links a,
.nav-links_mobile a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links_mobile a:hover {
    color: #fecb00; 
}



@media (max-width: 940px) {
    .navbar .nav-links {
      display: none;
    }

    .navbar .nav-links_mobile {
      display: block;
    }

    .navbar #click:checked ~ .nav-links_mobile {
      left: 0;
    }

    .navbar ul {
      position: fixed;
      top: 80px;
      left: -100%;
      background-color: #000;
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.5s ease;
    }

    .navbar #click:checked ~ ul {
      left: 0;
    }

    .navbar ul li {
      margin: 20px 0;
    }

    .navbar ul li a {
      font-size: 20px;
      display: block;
      font-weight: 600;
      color: #fff; /* Set the text color for better visibility */
      text-decoration: none;
    }

    .navbar ul li a:hover {
      color: #000;
    }
  }