body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 1500px;
    background-color: #1c1c1c;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1c1c;
    color: #fff;
}


.logo img {
    /* Add styling for logo image if needed */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1c1c;
    color: #fff;
}

.film-poster img {
    height: 300px;
    width: 200px;
}

film-details h1 {
    font-size: 36px;
    margin: 0;
}

film-details p {
    margin: 5px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 10px;
}

.dropdown {
    display: flex;
    margin-top: 10px; 
  }

  .dropdown button {
    background-color: #8e44ad; 
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }